.pdf-reg_header {
    width: 100px;
}

.pdf-header {
    width: 250px;
    margin: 0 0 10px 2px;
}

.pdf-content{
    width: 250px;
    color: #0e055e;
    margin: 0 0 2px 2px; /* topo direita inferior esquerda*/
    padding: 5px 0;
}

.pdf-reg_content{
    width: 100px;
    color: #0e055e;
    margin: 0 0 2px; /* topo horizontal inferior */
    padding: 5px 0; /* vertical horizontal*/
}

.pdf-discos{
    width: 200px;
    height: 200px;
    float: left;
}

.pdf-titulo_disco{
    color: #0e055e;
    font-size: 80%;
    margin-top: 10px;
}

.pdf-img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.pdf-texto{
    width: 100%;
    color: #0e055e;
    margin: 20px 0 10px;
    font-size: 80%;
}
