* body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #000;
    line-height: 150%;
    box-sizing: border-box;
}


h1 {
    color: #039;
    font-size: 120%;
}

h3 {
    color: #900;
    font-size: 100%;
}

p {
    font-size: 90%;
    color: #3e29ff;
}

#conteudo {
    width: 984px;
    height: auto;
    display: table;
    margin: 10px auto;
    border-top: 1px solid #e1e1e1;
}

#conteudo form {
    font-size: 80%;;
}

#conteudo form legend {
    padding: 5px;
    border: 1px solid #036;
    border-radius: 5px;
    background-color: #e2e2e2;
}

#conteudo fieldset {
    border: 1px dotted #036;
}

#conteudo form label{
    width: 120px;
    float: left;
    font-weight: bold;
    margin: 5px 0;
}

#conteudo form .txtDados {
    float: left;
    background-color: #3b5998;
    text-indent: 10px;
    width: 150px;
    height: 25px;
    border: 1px solid #036;
    border-radius: 5px;
    margin: 5px 0;
    color: #fff;
}

#conteudo form .txtDados:hover {
    background-color: #e0e6f3;
    color: #000;
}

#conteudo form .txtDados:focus {
    background-color: #fff;
    color: #000;
}

#conteudo form .txtResposta {
    width: 300px;
}

#conteudo form input[type=number]::-webkit-outer-spin-button,
#conteudo form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#conteudo form input[type=number] {
    -moz-appearance: textfield;
  }

#conteudo form .botaoForm {
    background-color: #E0E6F3;
    color: #000;
    width: 150px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin: 0 50px;
}

#conteudo form .botaoForm:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#conteudo form .select-div{
    float: left;
    width: 150px;
    margin-right: 20px;
}

#conteudo form div .select-box {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #3b5998;
    text-indent: 10px;
    width: 156px;
    height: 28px;
    border: 1px solid #036;
    border-radius: 5px;
    margin: 5px 0;
    color: #fff;
}

#conteudo form .select-box:hover {
    background-color: #e0e6f3;
    color: #000;
}

#conteudo form .select-box * {
    background-color: #e0e6f3;
    color: #000;
}

#conteudo form .checkbox {
    cursor: pointer;
    float: left;
    margin-top: 10px;
}

.clear {
    clear: both;
}

.borda {
    border-top: 1px solid #e1e1e1;
}

.logout {
    float: right;
    border: 1px solid #900;
    background-color: #ccc;
    padding: 5px;
    width: 250px;
    height: 25px;
    text-align: center;
    margin: 10px 0 0;
}

.sairSistema {
    font-size: 70%;
    color: #036;
    margin: 0 auto;
}

.dheader {
    width: 300px;
    color: white;
    background-color: #ccc;
    float: left;
    text-align: center;
    margin-right: 5px;
    font-weight: bold;
    font-size: 110%;
    padding: 5px 0;
    margin-top: 20px;
}

.content{
    width: 300px;
    float: left;
    color: #3e29ff;
    margin-right: 5px;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

.admin {
    text-decoration: underline;
    color: #900;
}

.master {
    text-decoration: underline;
    font-weight: bold;
}

.destaca {
    color: #f90;
}

.acao {
    width: 150px;
    text-align: center;
}

.botao{
    float: right;
    padding: 5px;
    border-radius: 5px;
    background-color: #039;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.botao:hover{
    background-color: #0653ec;
    color: #000;
    cursor: pointer;
}

a:hover{
    color: #0653ec;
}

.discos {
    float: left;
    display: table;
    padding: 20px;
}

.titulo_disco{
    color: #3e29ff;
    display: table-header-group;
    text-align: center;
}

img {
    cursor: pointer;
    display: table-row;
    width: 250px;
    height: 250px;
}

.espaco {
    padding: 10px;
}

#expandir{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background-color: #00000083;
    visibility: hidden;
}

#expandir-foto{
    width: 500px;
    height: 500px;
    position: fixed;
    z-index: 6;
    visibility: hidden;
    top: 20%;
    left: 38%;
}